<!-- 核心数据html片段 -->
<div>
	<div class="hd_tit">
        <h2 class="tit">核心数据</h2>
      </div>
      <div class="first">
        <div class="firt_left">
          <div class="tit">性别比例</div>
          <div class="sex">
            <div class="s_man JQ_sman">
              <span class="ico"><img src="images/ept-two-man_01.jpg"></span>
              <div class="sexgram" original-title="40%">
                <div class="sexbar">
                  <span class="val" style="height:40%"></span>
                </div>
                <div class="tooltip"><span class="tip">40%</span></div>
              </div>
            </div>
            <div class="s_woman JQ_swoman">
              <span class="ico"><img src="images/ept-two-man_03.jpg"></span>
              <div class="sexgram" original-title="60%">
                <div class="sexbar">
                  <span class="val" style="height:60%"></span>
                </div>
               <div class="tooltip"><span class="tip">60%</span></div>
              </div>
            </div>
            <div class="scale">
              <ul class="scale_list">
                <li>100%</li>
                <li>80%</li>
                <li>60%</li>
                <li>40%</li>
                <li>20%</li>
                <li>0%</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="firt_right">
          <div class="tit">年龄分布</div>

        </div>
      </div>
      <div class="second"></div>
      <div class="third"></div>
</div>
<p class="input-group">
    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="dateTime" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open();"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
</p>
<!--<iframe src="http://www.baidu.com"></iframe>-->