<ul class="menu_list">
        <li>
          <a href="#/overview/data" class="tit">核心数据</a>
        </li>
        <li>
          <a href="#">用户</a>
          <ul class="side-sub-list">
            <li class="side-item"><a href="#/overview/userDistribute" ui-sref="overview.userDistribute">用户分布</a></li>
            <li class="side-item"><a href="#">用户画像</a></li>
          </ul>
        </li>
        <li>
          <a href="#">内容</a>
          <ul class="side-sub-list">
            <li class="side-item"><a href="#">视频</a></li>
            <li class="side-item"><a href="#">专辑</a></li>
            <li class="side-item"><a href="#">频道</a></li>
            <li class="side-item"><a href="#">排行榜</a></li>
          </ul>
        </li>
        <li>
          <a href="#">自定义</a>
          <ul class="side-sub-list">
            <li class="side-item"><a href="#">自定义报表1</a></li>
            <li class="side-item"><a href="#">自定义报表2</a></li>
          </ul>
        </li>
      </ul>